.container {
    width: 980px;
    margin: 0 auto;

    .container__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }
}

@media (max-width: 1000px) {
    .container__title {
        text-align: center;
        width: 900px;
    }

    .banner {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .container__title {
        text-align: center;
        width: 700px;
    }

    .banner {
        width: 650px;
    }
}