.container {
    width: 980px;
    margin: 0 auto;

    .container__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }
}