    .text__materials {
        width: 320px;

        .text__link {
            text-decoration: none;
            text-decoration: underline;
            color: #c6cbcd;
        }
    }

    .text__slogan {
        margin-top: 20px;
        font-size: 12pt;
        font-style: italic;
        color: #fedb00;
    }
