.menu {
    width: 225px;

    .menu__link {
        width: 225px;
        padding: 5px 0 5px 10px;
        font-size: 14px;
        color: #303438;
        font-weight: 300;
        text-align: left;
        text-decoration: none;
        display: table-cell;
        line-height: 1.7;
    }

    .menu__link:hover {
        width: 225px;
        padding-left: 10px;
        background-color: #303438;
        font-size: 14px;
        color: #ffffff;
        font-weight: 300;
        text-align: left;
        text-decoration: none;
        display: table-cell;
        line-height: 1.7;
    }
}