.container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;

        .cars__title {
            margin-bottom: 25px;
            font-size: 34px;
            text-transform: uppercase;
            font-weight: 700;
        }

    .catalog {
        border: 1px solid #aca8a8;

        .catalog__title {
            height: 50px;
            background-color: #303438;
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 500;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}