.container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;

    .cars {

        .cars__title {
            margin-bottom: 25px;
            font-size: 34px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .cars__cards {
            display: flex;
            flex-wrap: wrap;

            .cars__item {
                display: flex;
                flex-direction: column;
                height: 214px;
                width: 192px;
                margin-left: 30px;
                margin-bottom: 20px;
                padding-left: 15px;
                padding-right: 15px;
                background: #f7f7f7;
                border: 1px solid #dcdcdc;
                text-align: center;

                .cars__img {}

                .cars__name {
                    font-size: 18px;
                    font-weight: 700;


                    .cars__link {
                        color: #0645ad;
                    }
                }

            }

            .cars__item:hover {
                height: 214px;
                width: 192px;
                margin-left: 30px;
                margin-bottom: 20px;
                padding-left: 15px;
                padding-right: 15px;
                background: #f7f7f7;
                border: 1px solid #979797;
                text-align: center;
            }
        }
    }

    .catalog {
        border: 1px solid #aca8a8;
        

        .catalog__title {
            height: 50px;
            // margin-bottom: 10px;
            background-color: #303438;
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 500;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        .menu {
            width: 225px;

            .menu__list {

                .menu__item {

                    .menu__link {
                        width: 225px;
                        padding: 5px 0 5px 10px;
                        font-size: 14px;
                        color: #303438;
                        font-weight: 300;
                        text-align: left;
                        text-decoration: none;
                        display: table-cell;
                        line-height: 1.7;
                    }

                    .menu__link:hover {
                        width: 225px;
                        padding-left: 10px;
                        background-color: #303438;
                        font-size: 14px;
                        color: #ffffff;
                        font-weight: 300;
                        text-align: left;
                        text-decoration: none;
                        display: table-cell;
                        line-height: 1.7;
                    }
                }
            }
        }

    }
}