.text {

    .text__materials {
        margin-top: 40px;
        text-align: center;

        .text__materials-link {
            color: #0645ad;
        }
    }

    .text__materials_bold {
        margin-top: 40px;
        margin-bottom: 80px;
        text-align: center;
        font-weight: 700;
    }
}